:root {
    --cor-primaria: rgb(17,86,102);
    --cor-secundaria: rgb(9,48,56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-primaria);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form buton {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--cor-primaria)
}

form button {
    border: none;
    background: var(--cor-primaria);
    color: #fff;
    font-size: 18px;
    height: 50px;
    font-weight: 700px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--cor-secundaria);
}

.calculadora {
    width: 400px;
}

.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn{
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background: rgb(197, 197, 197);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(177, 177, 177);
    box-shadow: rgb(95, 95, 95) 2px 2px;
}

.btn-equal{
    background-color: rgba(107, 154, 193, 0.692);
}

.btn-equal:hover {
    background-color: rgba(0, 157, 255, 0.618);
}

